@import "tailwindcss";
@plugin "daisyui";

/* app */
.grid {
  display: grid;
}

.g-main {
  grid-template-rows: auto;
  grid-template-columns: 1fr 7fr;
}

.g-main-nav {
  grid-row: 1/2;
  grid-column: 1/3;
}

.g-main-side {
  grid-row: 2/3;
  grid-column: 1/2;
}

.g-main-content {
  grid-row: 2/3;
  grid-column: 2/3;
}

/* navbar */

.navbar {
  padding: 20px;
}

.input:focus,
.input:focus-within {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: none;
}


/* side */

.pd-10 {
  padding: 10px;
}

.pd-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.size-24 {
  font-size: 16px;
}

/* content */

.g-content {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.mn-lr-10 {
  margin-right:10px;
  margin-left: 10px
}

@media (max-width:1024px) {
  .g-main {
    grid-template-columns: 0 1fr;
  }
  .g-main-side {
    display: none;
  }
  .g-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .g-main {
    grid-template-columns: 0 1fr;
  }
  .g-main-side {
    display: none;
  }
  .g-content {
    grid-template-columns: 1fr;
  }
}